:root {
  --site-width: 900px;

  --content-padding: 16px;
  --section-padding: 72px;

  --navbar-height: 64px;
  --navbar-colorize: rgba(0,0,0,0.6);

  --phone-breakpoint-max: 425px;
  --tablet-breakpoint-min: 768px;
  --desktop-breakpoint-min: 945px;

  --pink-color: #de7c70;

  --chevron-size: 100px;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin: 0 0 16px 0;
  font-weight: 300;
}

html, body {
  height: 100%;
  margin: 0;
  color: #494848;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body.noscroll {
  overflow: hidden;
}

.hidden, [hidden] {
  display: none !important;
}

a {
  color: currentColor;
  text-decoration: none;
}

.main-content a {
  font-weight: 600;
  color: var(--pink-color);
}
.main-content a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.8;
}

figcaption {
  text-align: center;
  font-weight: bold;
}

section {
  padding: var(--section-padding) 0;
  background-color: #fff;
}

section .section_title {
  font-family: "Pacifico", cursive;
  font-size: 50px;
  margin-bottom: calc(var(--content-padding) * 2);
}

section .subsection_title {
  font-size: 30px;
}

.content-width {
  max-width: var(--site-width);
  width: calc(100% - 32px);
  margin: 0 auto;
}

/* layout classes */
.layout {
  display: flex;
}
.layout.horizontal.center {
  justify-content: center;
}
.layout.horizontal.center-center {
  align-items: center;
  justify-content: center;
}
.layout.horizontal.justified {
  justify-content: space-between;
}
.layout.vertical {
  flex-direction: column;
}
.flex {
  flex: 1;
}
.layout.horizontal.end {
  justify-content: flex-end;
}
.wrap {
  flex-wrap: wrap;
}
.side-by-side {
  justify-content: space-between;
}
.side-by-side > * {
  width: calc(50% - 32px);
}
.center {
  text-align: center;
}
/* ============================== */

.navbar {
  font-family: "Spinnaker", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #222;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  transition: background 200ms ease-in-out;
  will-change: transform, color, background-color;
  z-index: 1;
  -webkit-font-smoothing: initial;
  /*background: linear-gradient(to top, transparent, transparent);*/
}

.navbar.colorize {
  background-color: var(--navbar-colorize);
  /*background: linear-gradient(to top, transparent, rgba(0,0,0,0.6));*/
  color: #fff;
}

.navbar.colorize a.active::after {
  color: currentColor;
}

.navbar nav {
  height: 100%;
}

.navbar a {
  position: relative;
  align-items: center;
  display: flex;
  height: 100%;
  padding: calc(var(--content-padding) / 2) 0;
}

.navbar a[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.navbar a:hover {
  /*border-bottom: 2px solid currentColor;*/
  color: var(--pink-color);
}

.navbar .names {
  font-size: 24px;
  padding: 0;
  font-family: "Pacifico", cursive;
  text-transform: none;
}

.navbar .ampersand {
  margin: 0 10px 0 25px;
  margin: 0 4px 0 5px;
  text-shadow: none;
  font-size: 60%;
}

.top_section {
  padding-top: calc(var(--navbar-height) * 2);
}

section.seethrough {
  background-color: transparent;
}

section .photo.pull-right {
  float: right;
  shape-outside: circle(145px at 50% 46%);
  shape-margin: var(--content-padding);
}

section .circle {
  height: 300px;
  width: 300px;
  -webkit-clip-path: circle(145px at 50% 50%);
  object-fit: cover;
  object-position: -60px 50%;
}

.box {
  /*background-color: #fff;*/
  background-color: rgba(255,255,255,0.95);
  border-radius: 3px;
  padding: var(--content-padding);
}
.box .label {
  /*font-family: 'Lobster', cursive;*/
  font-family: "Pacifico", cursive;
  font-size: 40px;
  /*font-weight: 600;*/
}

.chevron {
  height: var(--chevron-size);
  width: var(--chevron-size);
  fill: #fff;
  position: absolute;
  bottom: 16px;
  left: calc(50% - var(--chevron-size) / 2);
  cursor: pointer;
}

.details-label {
  display: flex;
  align-items: center;
}

.details-label::before {
  content: '';
  height: 45px;
  width: 45px;
  display: inline-block;
  margin-right: calc(var(--content-padding) / 2);
}

iframe {
  border: none;
  max-width: 100%;
}

.parallax-img {
  position: relative;
}

.parallax-img::after {
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  will-change: transform;
  z-index: -2;
}

.parallax-img.fixed-bg {
  min-height: 350px;
  background-color: transparent;
}

.parallax-img.fixed-bg::after {
  /*background-attachment: fixed;*/
  position: fixed;
}

.parallax-img.show::after {
  z-index: -1;
}

.map_wrapper {
  max-width: 100%;
  flex: 1 0 400px;
}


/* Firefox */
@supports not (shape-outside: circle(175px at 50% 50%)) {
  section .photo.circle img {
    border-radius: 50%;
    margin-left: 16px;
  }
}

@keyframes bounce {
  from {
    transform: translateY(16px);
  }
  to {
    transform: none;
  }
}

.bounce {
  animation-name: bounce;
  animation-duration: 400ms;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-delay: 4s;
}

/*.grow {
  transition: all 200ms ease-in-out;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.grow:hover {
  transform: scale(1.1);
}*/

/*.gray {
  transition: all 400ms ease-in-out;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.gray:hover {
  -webkit-filter: none;
  filter: none;
}*/

.shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.menu-icon {
  height: 24px;
  width: 24px;
  fill: currentColor;
  cursor: pointer;
  display: inline-block;
}

.fab-wrapper {
  position: absolute;
  top: 0;
}

.fab {
  --fab-size: 56px;
  height: var(--fab-size);
  width: var(--fab-size);
  position: absolute;
  top: calc(var(--fab-size) / 2 * -1);
  right: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: url("/img/icons/chevron-dark.svg") no-repeat 50% 50%;
  background-size: 32px;
  background-color: #fff;
  transition: box-shadow 200ms ease-in-out;
}

.fab:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
              0 1px 18px 0 rgba(0, 0, 0, 0.12),
              0 3px 5px -1px rgba(0, 0, 0, 0.4);
}


footer {
  height: var(--navbar-height);
  background-color: #eee;
  padding: var(--section-padding);
  text-align: center;
  position: relative;
}

@media (max-width: 767px) {
  :root {
    --section-padding: 40px;
    --navbar-height: 56px;
  }

  .chevron {
    --chevron-size: 50px;
    /*display: none;*/
  }

  .menu-icon {
    top: var(--content-padding);
    position: absolute;
  }
  .navbar {
    overflow: hidden;
    transition: all 300ms cubic-bezier(0,0,0.2,1);
    clip: rect(0px 100vw var(--navbar-height) 0px);
  }
  .navbar nav {
    padding-bottom: var(--content-padding);
  }
  .navbar.open {
    height: auto;
    background-color: var(--navbar-colorize);
    clip: rect(0px 100vw 400px 0px);
    color: #fff;
  }
  .navbar .names {
    width: 140px;
    height: var(--navbar-height);
    margin: 0 auto;
  }
  .top_section {
    padding-top: calc(var(--navbar-height) + var(--content-padding));
  }
  section .section_title {
    font-size: 30px;
    margin-bottom: var(--content-padding);
  }
  section .subsection_title {
    font-size: 25px;
  }
  .parallax-img.fixed-bg::after {
    background-position: 50% 100%;
    background-size: calc(var(--viewport-width) * 1.33) var(--viewport-height);
  }
}

@media (min-width: 768px) {
  .box {
    padding-left: calc(var(--content-padding) * 2);
  }
  .navbar {
    height: var(--navbar-height);
  }
  .navbar nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar a {
    padding: calc(var(--content-padding) / 2) var(--content-padding);
  }
  .navbar .home_link {
    display: none;
  }
  .navbar a.active::after  {
    content: '';
    background: currentColor;
    left: 0;
    right: 0;
    position: absolute;
    height: 2px;
    display: block;
    bottom: 0;
    color: currentColor;
  }
  .menu-icon {
    display: none;
  }
}

