:root {
  --site-width: 900px;

  --content-padding: 16px;
  --section-padding: 72px;

  --navbar-height: 64px;

  --phone-breakpoint-max: 425px;
  --tablet-breakpoint-min: 768px;
  --desktop-breakpoint-min: 945px;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin: 0 0 16px 0;
  font-weight: 300;
}

html, body {
  height: 100%;
  margin: 0;
  color: #494848;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: currentColor;
  text-decoration: none;
}

p {
  line-height: 1.6;
}

figcaption {
  text-align: center;
  font-weight: bold;
}

section {
  padding: var(--section-padding) 0;
  background-color: #fff;
}

section .section_title {
  font-family: "Pacifico", cursive;
  font-size: 50px;
  margin-bottom: calc(var(--content-padding) * 2);
}

section .subsection_title {
  font-size: 30px;
}

/*.main-content {
  padding-top: calc(var(--navbar-height));
}*/

.content-width {
  max-width: var(--site-width);
  width: calc(100% - 32px);
  margin: 0 auto;
}

/* layout classes */
.layout {
  display: flex;
}
.layout.horizontal.center {
  justify-content: center;
}
.layout.horizontal.center-center {
  align-items: center;
  justify-content: center;
}
.layout.horizontal.justified {
  justify-content: space-between;
}
.layout.vertical {
  justify-content: column;
}
.flex {
  flex: 1;
}
.wrap {
  flex-wrap: wrap;
}
.side-by-side {
  justify-content: space-between;
}
.side-by-side > * {
  width: calc(50% - 32px);
}
/* ============================== */

.navbar {
  font-family: "Spinnaker", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #222;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  transition: all 300ms ease-in-out;
  will-change: color, background-color;
  z-index: 1;
  -webkit-font-smoothing: initial;
}

.navbar.colorize {
  background-color: rgba(0,0,0,0.2); /*rgba(82,50,45,0.5);*/
  color: #fff;
}

.navbar nav {
  height: 100%;
}

.navbar a {
  padding: calc(var(--content-padding) /2 ) var(--content-padding);
}

.navbar .names {
  font-size: 24px;
  padding: 0;
  font-family: "Pacifico", cursive;
  text-transform: none;
}

.navbar .ampersand {
  margin: 0 10px 0 25px;
  margin: 0 4px 0 5px;
  text-shadow: none;
  font-size: 60%;
  top: -5px;
  position: relative;
}

.top_section {
  height: 100vh;
}

section .photo.pull-right {
  float: right;
  shape-outside: circle(145px at 50% 46%);
  shape-margin: var(--content-padding);
}

section .circle {
  height: 300px;
  width: 300px;
  -webkit-clip-path: circle(145px at 50% 50%);
  object-fit: cover;
  object-position: -60px 50%;
}

.details {
  /*background-color: rgba(255,255,255,0.8);*/
  background-color: #fff;
  border-radius: 3px;
  padding: var(--content-padding);
}
.details .label {
  font-family: 'Lobster', cursive;
  font-size: 32px;
  font-weight: 600;
}

.details-label {
  display: flex;
  align-items: center;
}

.details-label::before {
  content: '';
  height: 30px;
  width: 30px;
  display: inline-block;
  margin-right: calc(var(--content-padding) / 2);
}

iframe {
  border: none;
}


.parallax-img {
  position: relative;
}

.parallax-img::after {
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  will-change: transform;
  z-index: -2;
}

.parallax-img.fixed-bg {
  min-height: 350px;
  background-color: transparent;
}

.parallax-img.fixed-bg::after {
  /*background-attachment: fixed;*/
  position: fixed;
}

.parallax-img.show::after {
  z-index: -1;
}

/* Firefox */
@supports not (shape-outside: circle(175px at 50% 50%)) {
  section .photo.circle img {
    border-radius: 50%;
    margin-left: 16px;
  }
}

@keyframes bounce {
  from {
    transform: translateY(16px);
  }
  to {
    transform: none;
  }
}

.bounce {
  animation-name: bounce;
  animation-duration: 400ms;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-delay: 4s;
}

/*.grow {
  transition: all 200ms ease-in-out;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.grow:hover {
  transform: scale(1.1);
}*/

/*.gray {
  transition: all 400ms ease-in-out;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.gray:hover {
  -webkit-filter: none;
  filter: none;
}*/

.shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.fab-wrapper {
  position: absolute;
  top: 0;
}

.fab {
  --fab-size: 56px;
  height: var(--fab-size);
  width: var(--fab-size);
  position: absolute;
  top: calc(var(--fab-size) / 2 * -1);
  right: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: url("/img/icons/chevron-dark.svg") no-repeat 50% 50%;
  background-size: 32px;
  background-color: #fff;
  transition: box-shadow 200ms ease-in-out;
}

.fab:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
              0 1px 18px 0 rgba(0, 0, 0, 0.12),
              0 3px 5px -1px rgba(0, 0, 0, 0.4);
}


footer {
  height: var(--navbar-height);
  background-color: #eee;
  padding: var(--section-padding);
  text-align: right;
  position: relative;
}

/*@media (min-width: var(--desktop-breakpoint-min)) {

}*/

