<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="Accept-CH" content="Viewport-Width">
  <meta itemprop="description" content="Wedding site of Jackie Lau &amp; Eric Bidelman">
  <title>{% block title %}Home{% endblock %} - Jackie &amp; Eric</title>
  <meta name="theme-color" content="#dadada">
  <!-- <link rel="manifest" href="/manifest.json"> -->
  <link rel="shortcut icon" href="/img/icons/favicon.jpg">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico|Lobster:400,700|Spinnaker|Raleway:400,600">
  <link rel="stylesheet" href="/css/app.css">
  <!-- <link rel="stylesheet" href="/css/responsive.css" media="(max-width: 768px)"> -->

  {% block head %}{% endblock %}
</head>
<body>
{% include 'partials/header.html' %}

<main class="main-content">
{% block content %}{% endblock %}
</main>

{% include 'partials/footer.html' %}
<script src="js/dist/app.min.js"></script>

{% block scripts %}{% endblock %}

<!-- <script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/dexecure-608a20333e.js', {scope:'/'});
  }
</script> -->
</body>
</html>
