{% set navigation_bar = [
  ('/details', 'Details', false, "Wedding details", false),
  ('/hotels', 'Hotels', false, "Hotel information", false),
  ('/directions', 'Travel', false, "Directions", false),
  ('/things', 'Things to Do', false, None, false),
  ('https://www.zola.com/registry/laubidelman', 'Registry', false, None, true),
  ('/rsvp', 'RSVP', true, 'Coming soon', false)
] -%}

<div class="navbar">
  <nav class="content-width">
    <svg xmlns="http://www.w3.org/2000/svg"
       xmlns:xlink="http://www.w3.org/1999/xlink"
       version="1.1" x="0px" y="0px" viewBox="0 0 24 24" class="menu-icon">
      <g id="menu"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></g>
    </svg>
    <a href="/" class="flex names">Jackie<span class="ampersand">&hearts;</span>Eric</h1>
    <a href="/" class="flex home_link">Home</a>
    {% for href, caption, disable, title, external in navigation_bar -%}
      <a href="{{ href|e }}" {% if href|e == active_page %}class="active"{% endif %} {% if disable %}disabled{% endif %} {% if title %}title="{{title|e}}"{% endif %} {% if external %}target="_blank"{% endif %}>{{caption|e}}</a>
    {% endfor -%}
  </nav>
</div>
