{% extends "partials/base.html" %}

{% block title %}The Big Day{% endblock %}

{% block head %}
<style>
section p {
  margin: 1em 0;
  line-height: 1.8;
}

#details {
  font-size: 22px;
  font-weight: 400;
  line-height: 40px;
}

/*.map_wrapper {
  padding: var(--content-padding);
  background-color: #fff;
}*/

.details {
  background: rgba(255,255,255,0.8);
}

.details a.small {
  font-size: 18px;
  font-weight: 600;
}

/*.background-photo {
  background: url("/img/adventures/sandiego.jpg") no-repeat 50% 0%;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
*/

.details .indent {
  padding-left: 55px;
}

.details-when::before {
  background: url(/img/icons/clock.svg) no-repeat 50% 50%;
}

.details-where::before {
  background: url(/img/icons/location.svg) no-repeat 50% 50%;
}

@media (max-width: 767px) {
  .parallax-img-1::after {
    background-position: 50% 100%;
    background-size: calc(var(--viewport-width) * 1.33) var(--viewport-height);
  }
}

/*@media (max-device-aspect-ratio: 3/4) {
  height: calc(100vw * 1.333 - 9%);
}
@media (max-device-aspect-ratio: 2/3) {
  height: calc(100vw * 1.5 - 9%);
}
@media (max-device-aspect-ratio: 10/16) {
  height: calc(100vw * 1.6 - 9%);
}
@media (max-device-aspect-ratio: 9/16) {
  height: calc(100vw * 1.778 - 9%);
}
*/

.parallax-img-1::after {
  background-image: url("/img/adventures/sandiego.jpg");
}

.parallax-img-2::after {
  background-image: url("/img/adventures/taj.jpg");
}

@media (min-width: 768px) {
  .details {
    width: 40%;
    padding: calc(var(--content-padding) * 2) var(--content-padding);
  }
}
</style>
{% endblock %}

{% block content %}

<!-- <section id="details" class="top_section">
  <div class="content-width layout horizontal justified wrap">
    <div class="details">
      <h3 class="label details-label details-when"><b>When</b></h3>
      <p class="indent">
        Saturday July 8, 2017<br>
        Ceremony begins 4:30pm
      </p>
      <h3 class="label details-label details-where"><b>Where</b></h3>
      <p class="indent">
        <a href="http://www.cornerstonesonoma.com/tyge-cellars-barn/" rel="noopener" target="_blank">Tyge William Cellars</a><br>
        150 Wagner Rd, Sonoma, CA 95476
      </p>
      <p class="indent"><a href="/directions" class="small">Get directions &rsaquo;</a></p>
    </div>
    <div class="map_wrapper">
      <iframe width="100%" height="400" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBPZ5dzFC8H5o019h-lGhvAZbf3ag8XnAY&q=The+Barn+at+Tyge+William+Cellars,150 Wagner Rd, Sonoma, CA 95476,Sonoma+CA&zoom=10" allowfullscreen></iframe>
    </div>
  </div>
</section> -->

<section id="details" class="top_section seethrough">
  <div class="content-width layout horizontal end">
    <div class="details box shadow">
      <h3 class="label details-label details-when">When</h3>
      <p class="indent">
        Saturday, July 8, 2017<br>
        4 - 11pm
      </p>
      <h3 class="label details-label details-where">Where</h3>
      <p class="indent">
        <a href="http://www.cornerstonesonoma.com/tyge-cellars-barn/" rel="noopener" target="_blank">Tyge William Cellars</a><br>
        150 Wagner Rd, Sonoma, CA 95476
      </p>
      <div class="indent">
        <a href="/directions" class="small">Get directions &rsaquo;</a>
      </div>
    </div>
    <img src="/img/icons/chevron2.svg" class="chevron bounce">
  </div>
</section>

<section class="parallax-img fixed-bg parallax-img-1 show" style="min-height:auto">
  <div class="content-width">

  </div>
</section>

<section>
  <div class="content-width">
    <h2 class="section_title">Detailed information</h2>
    <h3 class="subsection_title">Ceremony &amp; Reception</h3>
    <p>The ceremony and reception will be held at at Tyge William Cellars ( see <a href="/directions">directions</a> ).</p>
    <h3 class="subsection_title">Transportation</h3>
    <p>We will have a <a href="/directions">shuttle service</a> to and from the hotels to the venue. Should you chose to drive, there is plenty of parking available at the winery. You can also take Uber, but service may be limited.</p>
    <h3 class="subsection_title">Attire</h3>
    <p>We ask that you wear semi-formal attire.</p>
    <p>The ceremony and reception will both take place outdoors. July in Sonoma should be around 85-90° during the daytime, and cooler in the evenings (around 53-60°). Sunglasses are  must!</p>
    <h3 class="subsection_title">Misc</h3>
    <p>We ask that you kindly leave the little ones at home.</p>
  </div>
</section>

<section class="parallax-img fixed-bg parallax-img-2" style="min-height:500px">
  <div class="content-width">

  </div>
</section>

<section id="wedding_party">
  <div class="content-width">
    <h2 class="section_title">Wedding party</h2>
    <h3 class="subsection_title">Bridesmaids</h3>
    <p>
      Coming soon...
    </p>
    <h3 class="subsection_title">Groomsmen</h3>
    <p>
      Coming soon...
    </p>
  </div>
</section>

<!-- <div class="background-photo"></div> -->

{% endblock %}

{% block scripts %}
<script>
(function(exports) {
'use strict';

const chevron = document.querySelector('.chevron');

function onScroll(scrollTop) {
  if (scrollTop > 0) {
    chevron.classList.remove('bounce');
  } else {
    chevron.classList.add('bounce');
  }
}

exports.swapBackgroundImagesWhenInView();

exports.onScroll = onScroll;

})(window);
</script>
{% endblock %}

