{% extends "partials/base.html" %}

{% block title %}Welcome!{% endblock %}

{% block head %}
<style>
:root {
  --card-size-small: 164px;
  --cloud-grey: rgb(209,209,209);
}

.navbar .names {
  display: none;
}

.header_announcement  {
  color: var(--pink-color);
  font-family: "Pacifico", cursive;
  /*padding-top: calc(var(--navbar-height) + 40px);*/
  text-align: center;
  font-size: 34px;
}
.header_announcement h1 {
  font-size: 12vw;
  margin-left: -40px;
  margin-bottom: 0;
  /*text-shadow: 1px 1px 5px #fff;*/
}
.header_announcement h2 {
  color: #3f755b;
  font-size: 5vw;
  letter-spacing: -0.05em;
  font-family: "Spinnaker", Arial, Helvetica, sans-serif;
}
.header_announcement .ampersand {
  /*color: #e53935;*/
  margin: 0 10px 0 25px;
  font-size: 30px;
  top: -24px;
  position: relative;
}

.top_section {
  height: 100vh;
}

#adventures .card {
  width: var(--card-size-small);
  height: var(--card-size-small);
  position: relative;
}

#adventures .card:not(.date) {
  background: url("/img/icons/whale.png") no-repeat 50% 50%;
  background-color: var(--cloud-grey);
  background-size: 75px;
}

#adventures .card summary {
  transition: transform 200ms ease-in-out;
  will-change: transform;
  padding: 8px;
  color: #fff;
  background: rgba(0,0,0,0.5);
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%);
  font-weight: 600;
  text-align: center;
}

#adventures .card:hover summary {
  transform: none;
}

#adventures .card.shrink {
  overflow: hidden;
}

#adventures .card img {
  object-fit: cover;
  transition: all 200ms ease-in-out;
}

#adventures .card img:not([src]) {
  visibility: hidden;
}

#adventures .card.shrink img {
  --card-size-large: calc(var(--card-size-small) + 20px);
  width: var(--card-size-large);
  height: var(--card-size-large);
}

#adventures .card.shrink img:hover {
  width: var(--card-size-small);
  height: var(--card-size-small);
}

#adventures .date {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  width: 164px;
  height: 164px;
  background-color: var(--cloud-grey);
}

.parallax-img-1::after {
  background-image: url("/img/card-mobile.png");
}

.parallax-img-2::after {
  /*background-image: url("/img/grapes.jpg");*/
  background-image: url("/img/vines5-smaller.png");
  /*opacity: 0.75;*/
}

.parallax-img-3::after {
  background-image: url("/img/vines6.jpg");
}

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
  visibility: hidden;
  opacity: 0;
  will-change: opacity;
  transition: all 300ms ease-in-out;
  contain: content;
  z-index: 1;
}

#lightbox.open {
  visibility: visible;
  opacity: 1;
}

#lightbox .lightbox-img {
  height: 75vh;
  width: auto;
}

#lightbox figure {
  background-color: #fff;
  margin: 0;
  padding: var(--content-padding);
  padding-top: 50px;
  padding-bottom: 0;
  transform: scale(0.5);
  will-change: transform;
  transition: transform 300ms ease-in-out;
  position: relative;
}

#lightbox.open figure {
  transform: none;
}

#lightbox figure .close {
  --icon-size: 24px;
  position: absolute;
  right: calc(var(--content-padding) / 2 + 2px);
  top: var(--content-padding);
  height: var(--icon-size);
  width: var(--icon-size);
  cursor: pointer;
}

#lightbox figcaption {
  text-align: center;
  padding: var(--content-padding);
  font-size: 18px;
}


@media (max-width: 575px) {
  .header_announcement .ampersand {
    top: -8px;
  }
}

@media (max-width: 767px) {
  .navbar .home_link {
    margin-top: var(--navbar-height);
  }
  .photos_container {
    justify-content: center;
  }
  .header_announcement .ampersand {
    margin: 0 10px 0 15px;
  }
  .top_section {
    height: 60vh;
    padding-top: calc(var(--navbar-height));
  }
  .parallax-img-1::after {
    background-position: 50% 50%;
  }
}

@media (min-width: 768px) {
  .header_announcement h1 {
    font-size: 90px;
  }
  .header_announcement h2 {
    font-size: 32px;
  }
  #adventures .card {
    margin: var(--content-padding) var(--content-padding) 0 0;
  }
  .parallax-img-1::after {
    background-image: url("/img/card2.png");
    background-position: 50% 60%;
  }
}
</style>
{% endblock %}

{% block content %}

<div class="header_announcement top_section parallax-img parallax-img-1 show">
  <h1>Jackie<span class="ampersand">&#10084;</span>Eric</h1>
  <h2><span class="date">July 8, 2017<span> &middot; Sonoma, CA</h2>
  <img src="/img/icons/chevron2.svg" class="chevron bounce">
</div>

<section id="aboutus">
  <div class="content-width">
    <h2 class="section_title">About The Couple</h2>
    <div>
      <h3 class="subsection_title">A tale of patience and pursuit...</h3>

      <p>Eric mustered up the nerve to contact Jackie after seeing her profile online. A Chicago girl that worked at Google couldn't be all that bad. Months later... Jackie finally replied! After some back and forth, the two set up a date at Google’s local watering hole, The Sports Page. They hit it off right away. Eric's jokes went incredibly well (Jackie laughed at everything), but it was their Midwest connection that brought the chemistry. No one understands tornadoes, snow, and corn like the Heartland.</p>

      <div class="photo pull-right">
        <img src="/img/adventures/xmas2.jpg" class="circle" title="Holiday party 2012">
        <!-- <figcaption>Holiday Party 2012</figcaption> -->
      </div>

      <p>That was the <em>first time Jackie said "Yes"</em>. It wouldn't be the last.</p>

      <p>The two became inseparable after the holidays. Jackie’s roommate started asking her, "So...whose this Chrome Guy?!". There was lots of golf outings, lots of movies (a love of Jackie's), and lots of attempts at cooking extravagant meals. Some of them were even successful.</p>

      <p>Fast forward to today...Jackie and Eric are cooking for each other all the time. They've shared laughs, smiles, and tons of burritos together. Eric is even best friends with Pattie! They’re on a mission to travel to world together, and are off to a good start by visiting Amsterdam, India, Greece, France, and Italy… just to name a few!</p>

      <p>Eric and Jackie have amazing friends and family, and grateful to see their circles grow stronger together.
      </p>
    </div>

    <!-- <div class="layout horizontal side-by-side">
      <div>
        <h3 class="subsection_title">The Bride</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi volutpat massa massa, ac hendrerit ligula pretium quis. Quisque quis nunc venenatis, finibus ligula id, feugiat diam. Aliquam odio lectus, condimentum a leo sed, efficitur bibendum libero. Duis malesuada tempus lorem, et posuere massa pretium eu. Proin placerat orci in ex mattis molestie.</p>
      </div>
      <div>
        <h3 class="subsection_title">The Groom</h3>
        <p>Eric Bidelman was born a twin, in Ypsilanti, Michigan ~ the last year the Detroit Tigers won the World Series. Growing up 10 minutes from the University of Michigan, it was inevitable that he would one day become Wolverine. After receiving BSEs in Computer Engineering and Electrical Engineering, Eric became a programmer at the University's library. After his short stint as a glorified librarian, he took at job at Google and moved out to California where he's been every since. He currently works as a digital Jedi (aka Senior Staff Engineer)...and he made this site mother fucker</p>
      </div>
    </div> -->
  </div>
</section>

<section class="parallax-img fixed-bg parallax-img-2">
  <div class="content-width">

  </div>
</section>


<section id="adventures">
  <div class="content-width">
    <h2 class="section_title">Our Adventures</h2>

    <div class="photos_container layout horizontal wrap">
      <div class="card date layout horizontal center-center">2012</div>
      <div class="card shrink gray">
        <a href="/img/adventures/xmas.jpg" target="_blank">
          <img data-src="/img/adventures/xmas.jpg" title="Holiday party 2012">
          <summary>Google Holiday Party</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/xmas2.jpg" target="_blank">
          <img data-src="/img/adventures/xmas2.jpg" title="Holiday party 2012">
          <summary>Google Holiday Party</summary>
        </a>
      </div>
      <div class="card date layout horizontal center-center">2013</div>
      <div class="card shrink gray">
        <a href="/img/adventures/sandiego.jpg" target="_blank">
          <img data-src="/img/adventures/sandiego.jpg">
          <summary>San Diego, CA</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/wedding.jpg" target="_blank">
          <img data-src="/img/adventures/wedding.jpg">
          <summary>Chicago wedding</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/disney.jpg" target="_blank">
          <img data-src="/img/adventures/disney.jpg">
          <summary>Disney World</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/disney2.jpg" target="_blank">
          <img data-src="/img/adventures/disney2.jpg">
          <summary>Disney World</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/disney3.jpg" target="_blank">
          <img data-src="/img/adventures/disney3.jpg">
          <summary>Disney World</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/jurassic.jpg" target="_blank">
          <img data-src="/img/adventures/jurassic.jpg">
          <summary>Disney World</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/shark.jpg" target="_blank">
          <img data-src="/img/adventures/shark.jpg">
          <summary>Disney World</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/speeder.jpg" target="_blank">
          <img data-src="/img/adventures/speeder.jpg">
          <summary>Disney World</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/halloween2.jpg" target="_blank">
          <img data-src="/img/adventures/halloween2.jpg">
          <summary>Halloween</summary>
        </a>
      </div>
      <div class="card date layout horizontal center-center">2014</div>
      <div class="card shrink gray">
        <a href="/img/adventures/ney.jpg" target="_blank">
          <img data-src="/img/adventures/nye.jpg">
          <summary>New Years Eve</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/skiing.jpg" target="_blank">
          <img data-src="/img/adventures/skiing.jpg">
          <summary>Lake Tahoe</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/barrel.jpg" target="_blank">
          <img data-src="/img/adventures/barrel.jpg">
          <summary>Napa</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/ams.jpg" target="_blank">
          <img data-src="/img/adventures/ams.jpg" title="Amsterdam, Nederlands">
          <summary>Amsterdam</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/london.jpg" target="_blank">
          <img data-src="/img/adventures/london.jpg">
          <summary>London</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/london2.jpg" target="_blank">
          <img data-src="/img/adventures/london2.jpg">
          <summary>London</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/greece.jpg" target="_blank">
          <img data-src="/img/adventures/greece.jpg" title="Parthenon, Athens, Greece">
          <summary>Parthenon, Athens</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/cruise.jpg" target="_blank">
          <img data-src="/img/adventures/cruise.jpg" title="Cruise, Greece">
          <summary>Cruise, Greece</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/santorini.jpg" target="_blank">
          <img data-src="/img/adventures/santorini.jpg">
          <summary>Santorini, Greece</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/santorini2.jpg" target="_blank">
          <img data-src="/img/adventures/santorini2.jpg">
          <summary>Santorini, Greece</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/rome.jpg" target="_blank">
          <img data-src="/img/adventures/rome.jpg">
          <summary>Rome</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/rome2.jpg" target="_blank">
          <img data-src="/img/adventures/rome2.jpg">
          <summary>Rome</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/capri.jpg" target="_blank">
          <img data-src="/img/adventures/capri.jpg" title="Capri, Italy">
          <summary>Capri, Italy</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/sf.jpg" target="_blank">
          <img data-src="/img/adventures/sf.jpg">
          <summary>San Francisco, CA</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/mexico.jpg" target="_blank">
          <img data-src="/img/adventures/mexico.jpg" title="Puerto Vallarta, Mexico">
          <summary>Puerto Vallarta, Mexico</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/timessquare.jpg" target="_blank">
          <img data-src="/img/adventures/timessquare.jpg" title="Time Square, NYC">
          <summary>Time Square, NYC</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/corn.jpg" target="_blank">
          <img data-src="/img/adventures/corn.jpg">
          <summary>East Bay, CA</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/halloween.jpg" target="_blank">
          <img data-src="/img/adventures/halloween.jpg">
          <summary>Halloween</summary>
        </a>
      </div>
      <div class="card date layout horizontal center-center">2015</div>
      <div class="card shrink gray">
        <a href="/img/adventures/nye2015.jpg" target="_blank">
          <img data-src="/img/adventures/nye2015.jpg">
          <summary>New Years Eve</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/chicago.jpg" target="_blank">
          <img data-src="/img/adventures/chicago.jpg">
          <summary>Chicago</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/vegas.jpg" target="_blank">
          <img data-src="/img/adventures/vegas.jpg">
          <summary>Las Vegas</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/grandcanyon.jpg" target="_blank">
          <img data-src="/img/adventures/grandcanyon.jpg">
          <summary>Grand Canyon</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/grandcanyon2.jpg" target="_blank">
          <img data-src="/img/adventures/grandcanyon2.jpg">
          <summary>Grand Canyon</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/water.jpg" target="_blank">
          <img data-src="/img/adventures/water.jpg">
          <summary>Hawaii</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/goats.jpg" target="_blank">
          <img data-src="/img/adventures/goats.jpg">
          <summary>Baby Goats!, CA</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/graceland.jpg" target="_blank">
          <img data-src="/img/adventures/graceland.jpg" title="Graceland, Memphis TN">
          <summary>Graceland, Memphis</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/nice.jpg" target="_blank">
          <img data-src="/img/adventures/nice.jpg" title="Nice, France">
          <summary>Nice, France</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/monaco.jpg" target="_blank">
          <img data-src="/img/adventures/monaco.jpg">
          <summary>Monaco</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/paris.jpg" target="_blank">
          <img data-src="/img/adventures/paris.jpg">
          <summary>Paris</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/parrot.jpg" target="_blank">
          <img data-src="/img/adventures/parrot.jpg">
          <summary>Google Halloween</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/booth.jpg" target="_blank">
          <img data-src="/img/adventures/booth.jpg">
          <summary>Google Holiday Party</summary>
        </a>
      </div>
      <div class="card date layout horizontal center-center">2016</div>
      <div class="card shrink gray">
        <a href="/img/adventures/alaska.jpg" target="_blank">
          <img data-src="/img/adventures/alaska.jpg">
          <summary>Dog sledding, Alaska</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/d4g.jpg" target="_blank">
          <img data-src="/img/adventures/d4g.jpg">
          <summary>Doodle 4 Google, Alaska</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/alaska2.jpg" target="_blank">
          <img data-src="/img/adventures/alaska2.jpg">
          <summary>Alaska</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/taj.jpg" target="_blank">
          <img data-src="/img/adventures/taj.jpg">
          <summary>Taj Mahal, India</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/india.jpg" target="_blank">
          <img data-src="/img/adventures/india.jpg">
          <summary>Wedding, Jaipur, India</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/india2.jpg" target="_blank">
          <img data-src="/img/adventures/india2.jpg">
          <summary>Agra, India</summary>
        </a>
      </div>
      <div class="card date layout horizontal center-center" style="font-size:40px;">Engaged</div>
      <div class="card shrink gray">
        <a href="/img/adventures/engage.jpg" target="_blank">
          <img data-src="/img/adventures/engage.jpg">
          <summary>Engagement, Hawaii</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/engage2.jpg" target="_blank">
          <img data-src="/img/adventures/engage2.jpg">
          <summary>Engagement, Hawaii</summary>
        </a>
      </div>
      <div class="card shrink gray">
        <a href="/img/adventures/hawaii.jpg" target="_blank">
          <img data-src="/img/adventures/hawaii.jpg">
          <summary>Luau, Hawaii</summary>
        </a>
      </div>
    </div>

  </div>
</section>

<section class="parallax-img fixed-bg parallax-img-3">
  <div class="content-width">

  </div>
</section>

<div id="lightbox" class="layout horizontal center-center">
  <figure>
    <img src="/img/icons/close.svg" class="close">
    <img src="" class="lightbox-img">
    <figcaption><!-- filled dynamically --></figcaption>
  </figure>
</div>

{% endblock %}

{% block scripts %}
<script src="/js/dist/intersection-observer.min.js"></script>
<script src="/js/dist/pages/index.min.js" async></script>
{% endblock %}
