{% extends "partials/base.html" %}

{% block title %}Gifts{% endblock %}

{% block head %}
<style>
.parallax-img-1::after {
   background-image: url("img/adventures/santorini.jpg");
   background-position: 50% 25%;
}
.details-hotel::before {
  background: url(/img/icons/gift.svg) no-repeat 50% 50%;
}
figure img {
  height: 100px;
}
</style>
{% endblock %}

{% block content %}

<section class="top_section seethrough">
  <div class="content-width">
    <div class="box shadow">
      <h3 class="label details-label details-hotel">Gift Registry</h3>
      <div>
        <div>
          <p>While your presence at our wedding is the only gift we could wish for, here is our registry options for those who would like to give a gift.</p>

          <p>We already have mostly everything we need for a home, but we'd greatly appreciate contributions to make our dream honeymoon a reality. You may contribute online through ZOLA, or a card table will be available at the wedding.</p>

          <figure class="center">
            <div>
              <a href="https://www.zola.com/registry/laubidelman" target="_blank">
                <img src="/img/zola.jpg" title="Zola registry" alt="Zola registry">
              </a>
            </div>
            <figcaption>
              <a href="https://www.zola.com/registry/laubidelman" target="_blank">Contribute to our honeymoon fund!</a>
            </figcaption>
          </figure>
        </div>
        <div>
          <p>We also registered at Macy's and William Sonoma for a few household items that we're missing, and a few special things we'll treasure from our wedding.</p>

          <figure class="center">
            <div>
              <a href="https://www.macys.com/wgl/registry/guest/6679397" target="_blank">
                <img src="/img/macys-logo.jpg" title="Macy's registry" alt="Macy's registry" style="border:1px solid black">
              </a>
            </div>
            <figcaption>
              <a href="https://www.macys.com/wgl/registry/guest/6679397" target="_blank">Browse registry</a>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="parallax-img fixed-bg parallax-img-1">
  <div class="content-width">


  </div>
</section>

{% endblock %}
