{% extends "partials/base.html" %}

{% block title %}RSVP{% endblock %}

{% block head %}
<style>
.powr-form-builder {
  width: 100%;
}
#form-wrapper {
  padding: 0;
}
.parallax-img-1::after {
  background-image: linear-gradient(to top, transparent 90%, white),
                    url("/img/grapes.jpg");
}
</style>
{% endblock %}

{% block content %}

<section class="top_section seethrough">
  <div id="form-wrapper" class="content-width box shadow">
    <div class="powr-form-builder" id="50ec0ebd_1475430451"></div>
  </div>
</section>

<section class="parallax-img fixed-bg parallax-img-1 seethrough">
  <div class="content-width">

  </div>
</section>

{% endblock %}


{% block scripts %}
<script src="//www.powr.io/powr.js" external-type="html" async></script>
<script>
(function(exports) {
'use strict';

})(window);
</script>
{% endblock %}
