{% extends "partials/base.html" %}

{% block title %}RSVP{% endblock %}

{% block head %}
<style>
/*.powr-form-builder {
  width: 100%;
}
.*/

.sidebyside {
  flex-wrap: wrap;
}

.parallax-img-1::after {
  background-image: linear-gradient(to top, transparent 90%, rgba(255,255,255,0.8)),
                    url("/img/grapes.jpg");
}
h2.label {
  margin-bottom: 0;
}
form {
  margin-top: calc(var(--content-padding) * 2);
}
input[type="submit"] {
  padding: calc(var(--content-padding) / 2) var(--content-padding);
  background: none;
  font-weight: bold;
  border: 2px solid currentColor;
  cursor: pointer;
  margin-top: var(--content-padding);
}
input {
  font: inherit;
  color: currentColor;
  border-radius: 3px;
  border: 2px solid #eee;
  margin-right: 8px;
}
input[type="text"], input[type="email"] {
  padding: 4px 8px;
}
label {
  margin-right: var(--content-padding);
}
.rsvp_answer {
  font-weight: 600;
}
#meal_info input {
  padding: calc(var(--content-padding) / 2);
}
#meal_info input[type="text"] {
  min-width: 50%;
}
.border-top {
  border-top: 1px solid #eee;
  padding-top: var(--content-padding);
}
#section_menu_guest1 {
  margin-right: calc(var(--content-padding) * 2);
}

.sidebyside input[type="text"] {
  width: 100%;
}

input[disabled] {
  background-color: #eee;
  border: 1px solid #ddd;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
@media (max-width: 757px) {
  input[type="text"] {
    width: 100%;
  }
}
@media (min-width: 758px) {
  input[type="text"] {
    min-width: 400px;
  }
  #section_menu_guest1,
  #section_menu_guest2 {
    min-width: 300px;
  }
}
</style>
{% endblock %}

{% block content %}

<section class="top_section seethrough">
  <div class="content-width box shadow">

    {% if rsvp %}
      <h2 class="label">Thanks!</h2>
      <h3>We've received your RSVP. If you need to make changes, please email <b>laubidelman@gmail.com</b>.</h3>
    {% else %}
      <h2 class="label">RSVP</h2>
      <!--<h3>Kindly reply by May 1, 2017</h3>-->
    {% endif %}

    <form action="/rsvp" method="post">
      {% if rsvp %}
        <fieldset disabled>
      {% endif %}
        <p>
          <input type="text" name="party_name" placeholder="Enter your name" autofocus required
                 value="{{rsvp.party_name}}" {% if rsvp %}disabled{% endif %}>
        </p>
        <p class="rsvp_answer">
          <label><input type="radio" name="rsvp" value="yes" required
                        {% if rsvp and rsvp.attending %}checked{% endif %}>Accepts with Pleasure</label>
          <label><input type="radio" name="rsvp" value="no" required
                        {% if rsvp and not rsvp.attending %}checked{% endif %}>Declines with Regret</label>
        </p>
        <div id="attending_info" class="border-top" {% if not rsvp or not rsvp.attending %}hidden{% endif %}>
          <div id="meal_info">
            <h3>Entree Selection</h3>
            <div class="layout horizontal sidebyside">
              <div id="section_menu_guest1">
                <div>
                  <input type="text" name="guest1_name"
                         placeholder="Guest #1 Full Name" required disabled
                         {% if rsvp %}value="{{rsvp.guests[0].name}}"{% endif %}>
                </div>
                <p>
                  {% if rsvp %}
                    <label><input type="radio" name="guest1_meal" value="beef" required disabled
                                  {% if rsvp and rsvp.guests[0].meal == 'beef' %}checked{% endif %}>Beef - grilled bistro filet (<i>gluten free</i>)</label><br>
                    <label><input type="radio" name="guest1_meal" value="fish" required disabled
                                  {% if rsvp and rsvp.guests[0].meal == 'fish' %}checked{% endif %}>Fish - crispy skin artic char</label><br>
                    <label><input type="radio" name="guest1_meal" value="pasta" required disabled
                                  {% if rsvp and rsvp.guests[0].meal == 'pasta' %}checked{% endif %}>Pasta - wild mushroom ravioli (<i>vegetarian</i>)</label>
                  {% else %}
                    {% for key,val in MEALS|dictsort %}
                      <label>
                        <input type="radio" name="guest1_meal" value="{{key}}" required disabled>
                        {{val}}
                      </label><br>
                    {% endfor %}
                  {% endif %}
                </p>
                <h4>Dietary restrictions:</h4>
                <p>
                  <label>
                    <input type="checkbox" name="guest1_dietary" value="dairy"
                           {% if rsvp and rsvp.guests[0].dairy_free %}checked{% endif %}>dairy-free
                  </label>
                  <label>
                  <label>
                    <input type="checkbox" name="guest1_dietary" value="vegan"
                           {% if rsvp and rsvp.guests[0].vegan %}checked{% endif %}>vegan
                  </label>
                </p>
              </div>
              <div id="section_menu_guest2">
                <div>
                  {% if rsvp.guests|length > 1 %}
                    <input type="text" name="guest2_name"
                           placeholder="Guest #2 Name (if applicable and your invitation indicated)"
                           value="{{rsvp.guests[1].name}}" disabled>
                  {% else %}
                    <input type="text" name="guest2_name"
                           placeholder="Guest #2 Name (if applicable and your invitation indicated)"
                           {% if rsvp %}disabled{% endif %}>
                  {% endif %}
                </div>
                <p>
                  {% if rsvp.guests|length > 1 %}
                    {% for key,val in MEALS|dictsort %}
                      <label>
                        <input type="radio" name="guest2_meal" value="{{key}}" required disabled
                               {% if rsvp.guests[1].meal == key %}checked{% endif %}>
                        {{val}}
                      </label><br>
                    {% endfor %}
                  {% else %}
                    {% for key,val in MEALS|dictsort %}
                      <label>
                        <input type="radio" name="guest2_meal" value="{{key}}" required disabled>
                        {{val}}
                      </label><br>
                    {% endfor %}
                  {% endif %}
                </p>
                <h4>Dietary restrictions:</h4>
                <p>
                  {% if rsvp.guests|length > 1 %}
                    <label>
                      <input type="checkbox" name="guest2_dietary" value="dairy"
                             {% if rsvp.guests[1].dairy_free %}checked{% endif %}>dairy-free
                    </label>
                    <label>
                    <label>
                      <input type="checkbox" name="guest2_dietary" value="vegan"
                             {% if rsvp.guests[1].vegan %}checked{% endif %}>vegan
                    </label>
                  {% else %}
                    <label>
                      <input type="checkbox" name="guest2_dietary" value="dairy">dairy-free
                    </label>
                    <label>
                    <label>
                      <input type="checkbox" name="guest2_dietary" value="vegan">vegan
                    </label>
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
          <div class="border-top">
            <h3>Hotels / Shuttle Information</h3>
            <div>
              <p>Where will you be staying?</p>
              <div>
                {% for key,val in HOTELS|dictsort %}
                  <label><input type="radio" name="hotel" value="{{key}}" required disabled
                    {% if rsvp and rsvp.hotel == key %}checked{% endif %}>{{val}}</label><br>
                {% endfor %}
              </div>
            </div>
            <div id="shuttle_info">
              <div>
                <p>
                  We will have chartered shuttles to and from Courtyard Marriott and Hawthorne Suites to the wedding venue. Are you interested in riding on the shuttle?
                </p>
                <div>
                  <label><input type="radio" name="taking_shuttle" value="yes" required disabled
                    {% if rsvp and rsvp.taking_shuttle %}checked{% endif %}>Yes, please.</label>
                  <label><input type="radio" name="taking_shuttle" value="no" required disabled
                    {% if rsvp and not rsvp.taking_shuttle %}checked{% endif %}>No, thanks.</label>
                </div>
              </div>
              <p>Please enter your email address. We will send out shuttle pickup information when it is ready.</p>
              <p><input type="email" placeholder="Email address" name="shuttle_email"
                        {% if rsvp and rsvp.shuttle_email %}value="{{rsvp.shuttle_email}}"{% endif %}
                        {% if rsvp %}disabled{% endif %}></p>
            </div>
          </div>
        </div>
        {% if not rsvp %}
          <p class="border-top"><input type="submit" value="RSVP!"></p>
        {% endif %}
      {% if rsvp %}</fieldset>{% endif %}
    </form>
  </div>
</section>

<!-- <div class="powr-form-builder" id="50ec0ebd_1475430451"></div> -->

<section class="parallax-img fixed-bg parallax-img-1 seethrough">
  <div class="content-width">

  </div>
</section>

{% endblock %}


{% block scripts %}
<script>
(function(exports) {
'use strict';

const form = document.forms[0];

// form.rsvp[0].setCustomValidity('asdf');

form.addEventListener('change', e => {
  let section;

  switch (e.target.name) {
    case 'rsvp':
      const attending = form.rsvp.value === 'yes';
      section = document.querySelector('#attending_info');
      Array.from(section.querySelectorAll('input')).forEach(input => {
        if (input.name.indexOf('guest2') === 0) {
          return;
        }
        input.disabled = !attending;
      });
      section.hidden = !attending;
      break;
    case 'guest2_name':
      const guest2Attending = Boolean(form.guest2_name.value.length);
      section = document.querySelector('#section_menu_guest2');
      Array.from(section.querySelectorAll('input')).forEach(input => {
        if (input.name === 'guest2_name') {
          return;
        } else if (input.name !== 'guest2_dietary') {
          input.required = guest2Attending;
        }
        input.disabled = !guest2Attending;
      });
      break;
    default:
      break;
  }
});

form.addEventListener('submit', e => {
  e.preventDefault();
  const submitForm = confirm('Submit RSVP?');
  if (submitForm) {
    form.submit();
  }
});

})(window);
</script>
{% endblock %}
