{% extends "partials/base.html" %}

{% block title %}The Big Day{% endblock %}

{% block head %}
<style>
section p {
  margin: 1em 0;
  line-height: 1.8;
}
#details {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
}
.details {
  background-color: rgba(255,255,255,0.8);
  border-radius: 3px;
  padding: var(--content-padding);
}
.details .label {
  font-family: 'Lobster', cursive;
  font-size: 32px;
  font-weight: 600;
}
.map_wrapper {
  display: inline-block;
  padding: 8px;
  background-color: #fff;
  height: calc(400px + var(--content-padding));
}
iframe {
  border: none;
}

.background-photo {
  background: url("img/tyge3.jpg") no-repeat 50% 0%;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

/*@media (min-width: 945px) {

}*/
</style>
{% endblock %}

{% block content %}

<section id="details">
  <div class="content-width layout horizontal justified">
  <div class="details">
    <h3 class="label">When</h3>
    <p>
      Saturday July 8, 2017<br>
      Ceremony begins X:XXpm??
    </p>
    <h3 class="label">Where</h3>
    <p>
      <a href="http://www.cornerstonesonoma.com/tyge-cellars-barn/" rel="noopener" target="_blank">The Barn at Tyge William Cellars</a><br>
      150 Wagner Rd, Sonoma, CA 95476
    </p>
  </div>
  <div class="map_wrapper">
    <iframe width="400" height="400" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA-bY8907pxjRUAyO5zOQWZGyx_3-MkA0Y&q=The+Barn+at+Tyge+William+Cellars,150 Wagner Rd, Sonoma, CA 95476,Sonoma+CA&zoom=10" allowfullscreen></iframe>
  </div>
  </div>
</section>

<div class="background-photo"></div>

{% endblock %}
