{% extends "partials/base.html" %}

{% block title %}Things to Do{% endblock %}

{% block head %}
<style>
.map {
  padding: var(--content-padding);
}

.parallax-img-1::after {
   background-image: url("img/adventures/grandcanyon2.jpg");
}
.details-where::before {
  background: url(/img/icons/photo.svg) no-repeat 50% 50%;
}
ul {
  line-height: 2;
}
</style>
{% endblock %}

{% block content %}

<section class="top_section seethrough">
  <div class="content-width">
    <div class="map box shadow">
     <h3 class="label details-label details-where">Things to do</h3>
      <p>The wedding is centrally located in Northern California, and a short drive from many world famous destinations:</p>

      <ul>
        <li><b>7 minute drive</b> to downtown Sonoma, a historic town known for its charm, wine, and cheese. It's the perfect spot for delightful lunch or visiting boutiques.</li>
        <li><b>20 minute drive</b> to the heart of Napa Valley, famous for its wineries growing arguably the best wine in the world. Don't leave without visiting at least one winery for a wine tasting experience.</li>
        <li><b>30 minute drive</b> to the Golden Gate Bridge. Its red arches will connect you right into San Francisco, with countless activities and attractions for any type of person.</li>
      </ul>

      <iframe src="https://www.google.com/maps/d/embed?mid=1VLmFusFc0eWIt1XlGSRIa2mGvvQ"
              width="100%" height="480"></iframe>
    </div>
  </div>
</section>

<section class="parallax-img fixed-bg parallax-img-1">
  <div class="content-width">


  </div>
</section>

{% endblock %}
